@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "computer-modern/cmu-serif.css";

@layer base {
    body {
        font-family: "CMU Serif", serif;
        background: whitesmoke;
        line-height: 1.75;
        font-size: 18px;
    }
}

@media screen and (min-width: 480px) {
    body {
        text-align: justify;
    }
}