<footer class="mt-20 lg:text-lg">
  <ul class="flex gap-2 text-[#0000FF] flex-wrap justify-center">
    <a href="https://linkedin.com/in/shriramkhandbahale">
      <li>[Linkedin]</li>
    </a>
    <a href="https://github.com/ShriramKhandbahale">
      <li>[Github]</li>
    </a>
    <a href="mailto:hi@shriram.dev">
      <li>[hi@shriram.dev]</li>
    </a>
  </ul>
</footer>
