---
interface Props {
  title: string;
}

const { title } = Astro.props;

const navItems = [
  { title: "Home", link: "/" },
  { title: "Articles", link: "/articles" },
  { title: "Blogs", link: "/blogs" },
  { title: "Activities", link: "/activities" },
  { title: "Projects", link: "/projects" },
];
---

<header class="flex flex-col md:flex-row justify-between lg:items-center gap-4">
  <div class="lg:flex items-center">
    <h1 class="text-3xl font-bold lg:font-normal">{title}</h1>
  </div>

  <nav>
    <ul class="flex gap-2 md:gap-8 flex-wrap">
      {
        navItems.map((e) => (
          <li>
            <a href={e.link} class="no-underline">
              [{e.title}]
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
