---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import PostHog from "../components/posthog.astro";
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;

const currentPath = new URL(Astro.request.url).pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {currentPath == "/" ? title : title + " | Shriram Khandbahale"}
    </title>
    <PostHog />
  </head>
  <body
    class="mx-5 md:mx-20 lg:mx-[20%] my-10 md:my-20 bg-[#F5F5F5] lg:text-xl"
  >
    <Header title={currentPath == "/" ? "shriram.dev" : title} />
    <main class="mt-10">
      <slot />
    </main>
    <Footer />
  </body>
</html>
